*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: Roboto, sans-serif;
}

.logo {
    padding: 10px;
    width: 250px
}

header {
    text-align: center;
    margin-bottom: 10px;
}

.fun-info {
    text-align: center;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
}

.js-container {
    text-align: center;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif-box {
    margin: 10px;
    transition: all .2s ease-in-out;
    width: 237px;
    height: 150px;
}

.gif-box:hover {
    transform: scale(1.1);
}

.show-gif {
    padding: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.js-submit,
.copy-url {
    border: none;
    margin-top: 10px;
    margin-bottom: 50px;
    background: #219236;
    color: #fff;
}

.user-number,
#usr,
#sticker {
    margin: 10px;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

#gif-select,
.js-submit,
.copy-url,
#sticker,
#btnClose {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

#gif-select {
    display: block;
    margin: 10px auto;
    height: 40px;
    border: none;
}

.iso-container {
    margin: 0 auto;
}

.iso-gif {
    display: block;
    height: 450px;
    width: 100%;
    padding: 10px;
}

.copy-url:hover,
.js-submit:hover {
    cursor: pointer;
    background-color: #51b564;
}

/* CSS for modal */

.dialog {
    border: 5px solid #666;
    padding: 10px;
    background: #3A3A3A;
    position: absolute;
    display: none;
    margin: 0 auto;
    width: 34%;
    text-align: center;
    left: 34%;
    z-index: 1;
}

#btnClose {
    border: none;
    margin-top: 10px;
    margin-bottom: 50px;
    background: #d9534f;
    color: #fff;
}

#btnClose:hover {
    background: #ffacac;
    cursor: pointer;
}