*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: Roboto, sans-serif;
    padding-bottom: 75px;
}

.logo {
    padding: 10px;
    width: 250px
}

header {
    text-align: center;
    margin-bottom: 10px;
}

a.click-gif {
    color: #141414;
}

.fun-info {
    text-align: center;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
}

.js-container {
    text-align: center;
}

.results {
    width: 1500px;
    margin: 0 auto;
}

.gif-box {
    margin: 10px;
    transition: all .2s ease-in-out;
    width: 240px;
    height: 180px;
}

.gif-box:hover {
    transform: scale(1.1);
}

.show-gif {
    padding: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.js-submit,
.copy-url {
    border: none;
    margin: 10px 10px;
    background: #219236;
    color: #fff;
}

.user-number,
#keyword,
#sticker {
    margin: 10px;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

#gif-select,
.js-submit,
.copy-url,
#sticker,
#btnClose {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

#gif-select {
    display: block;
    margin: 10px auto;
    height: 40px;
    border: none;
}

.iso-container {
    margin: 0 auto;
}

.iso-gif {
    display: block;
    height: 250px;
    width: 100%;
    padding: 10px;
}

.copy-url:hover,
.js-submit:hover {
    cursor: pointer;
    background-color: #51b564;
}

/* CSS for modal */

.dialog {
    border: 5px solid #404040;
    padding: 10px;
    position: fixed;
    display: none;
    max-width: 400px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: #202020;
    border-radius: 4px;
}

#btnClose {
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #d9534f;
    color: #fff;
}

#gif-url {
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
    background: #219236;
    color: #fff;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.gif-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#btnClose:hover {
    background: #ffacac;
    cursor: pointer;
}

/* Footer */

.foot-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
    background: #303030;
    padding: 5px;
}

.social-container {
    text-align: center;
}

.social-container>a {
    margin: 0 20px;
    color: #219236;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}

.foot-mod {
    margin: 5px 0 0 10px;
}

.support,
.face,
.tweet,
.linked {
    text-align: center;
}

.validate-keyword {
    padding: 10px 0 10px 10px;
    font-size: 20px;
    color: #fff;
    margin: 20px auto;
    text-align: center;
    font-weight: 300;
}

/* Media Queries */

@media screen and (max-width: 1500px) {
    .results {
        width: 100%;
    }
}

@media screen and (max-width: 803px) {
    .gif-box {
        width: 200px;
        height: 140px;
    }
}

@media screen and (max-width: 475px) {
    .gif-box {
        width: 160px;
        height: 100px;
    }
}