*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: Roboto, sans-serif;
}

.logo {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

.fun-info {
    text-align: center;
    font-weight: 300;
    color: #fff;
}

#usr, .js-submit {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.js-catcher {
    margin: 0 auto;
}

.js-submit {
    margin: 20px 0;
}

.js-container {
    text-align: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.results-container {
    margin: 0 auto;
    width: 950px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif-box {
    margin: 20px;
    display: block;
    width: 250px;
    height: 160px;
}
